# byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# PyCharm
.idea/

# compiled python modules
*.pyc

# setuptools distribution folder
/dist/

# Python egg metadata
/*.egg-info
/*.egg
